*{
    /* margin:0px; */
    font-family: sans-serif,'Franklin Gothic Medium', 'Arial Narrow', Arial;
}
body{
    height: 100vh;
    width: 100vw;
    background: linear-gradient(to bottom right,rgb(23, 7, 7),rgb(70, 202, 246));
    display: flex;
    justify-content: center;
    align-items: center;
}

#box{
    height: 500px;
    width: 500px;
    border: 3px solid black;
    border-color: aliceblue;
    color: white;
    position: absolute;
    padding-block: 20px;
    padding-inline: 40px;
    box-shadow: -8px -9px 9px black;
}

.divin{
    margin-block: 20px;
}
.divin input{
    font-size: 16px;
    padding: 4px 10px;
    border-radius: 10px;
}

.divin input{
    height: 28px;
    width: 490px;
    background-color: azure;
    color: black;
}

.lengen input{
    width: 100%;
}
.lengen p{
    font-size: 20px;
}
#showLen{
    display: flex;
    justify-content: space-between;
}

.rows{
    font-size: 25px;
    display: flex;
    justify-content: space-between;
    margin-block: 8px;
}
.rows input[type="checkbox"]{
    height: 20px;
    width: 20px;
    /* border-radius: 50%; */
}

.mybtn{
    position: absolute;
    bottom: 50px;

}
.mybtn button{
    height: 40px;
    width: 500px;
    font-size: 23px;
    font-weight: 800;
    background-color: blue;
    color: white;
    box-shadow: 3px 3px 2px;
}
.mybtn button:hover{
    background-color: rgb(205, 114, 58)
}
